// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container{
	text-align:center;
}

.navbar-inner{
	padding: 0px 100px;
}

.nav.pull-right{
	margin: 0 auto;
}

.banner{

	text-align:center;
}

a.register {
  color: #fff;
  
  &:visited {  
    color: #fff;
  }
  
}





